#main-doc {
  display: grid;
  grid-template-columns: 300px auto;
  font-family: sans-serif;
  font-weight: 300;
}

#navbar {

}

nav ul {
  list-style: none;
}

nav li {
  /* border-top: 1px; */
  /* border-style: solid; */
  margin-top: 10px;
  margin-bottom: 10px;
}

nav header {
  margin-left: 40px;
}

.nav-link {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

.content {
  margin: 10 20 20 20;
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 400;
}

ul {
  list-style: disc inside none;
  margin-
}

li {
  line-height: 25px;
  /* padding-left:1em */
}

p {
  line-height: 25px;
}

code {
  display: block;
  white-space: pre-wrap;
  margin-left: 20px;
  line-height: 25px;
}

@media (max-width: 815px) {
  #main-doc {
    grid-template-columns: auto;
  }

  h1 {
    text-align: center;
  }

  nav ul {
    height: 200px;
    overflow: auto;
    margin-bottom: 0px;
  }

  .content {
    margin: 0 20 20 20;
  }


}
