body {
  margin: 0;
}

#main-doc {
  display: grid;
  grid-template-columns: 300px auto;
  font-family: sans-serif;
  font-weight: 300;
}

#navbar {
  width: 100%;
  border-style: solid;
  border-color: gray;
  border-width: 0 3px 0 0;
}

nav ul {
  list-style: none;
  padding-left: 0;
  display: grid;
  align-items: center;
}

nav li {
  border-width: 1px 0 0 0;
  border-style: solid;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 25px;
}

nav header {
  margin-left: 40px;
}

.nav-link {
  text-decoration: none;
  font-size: 17px;
  color: black;
  margin: 10 15 10 15;
}

.content {
  margin: 10 20 20 20;
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 400;
  margin-left: 5px;
}

ul {
  list-style: disc inside none;
}

li {
  line-height: 25px;
  font-size: 15px;
}

p {
  line-height: 25px;
  margin-left: 20px;
  font-size: 15px;
}

code {
  display: block;
  white-space: pre-wrap;
  margin-left: 20px;
  line-height: 25px;
}

@media (max-width: 815px) {
  #main-doc {
    grid-template-columns: auto;
  }

  h1 {
    text-align: center;
  }

  nav ul {
    height: 200px;
    overflow: auto;
    margin-bottom: 0px;
    border-style: solid;
    border-color: gray;
    border-width: 3px 0 3px 0;
  }

  .content {
    margin: 0 20 20 20;
  }
}
